<!DOCTYPE html>
<html>
<head>
    <title>Add Questions - StudyHub</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="nav">
    <div><strong>StudyHub 📚</strong></div>
</div>

<div class="container">

    <h1>➕ Add Question</h1>

    <form method="POST">

        <input type="text" name="question" placeholder="Question" required>
        <br><br>

        <input type="text" name="a" placeholder="Option A" required>
        <br><br>

        <input type="text" name="b" placeholder="Option B" required>
        <br><br>

        <input type="text" name="c" placeholder="Option C" required>
        <br><br>

        <input type="text" name="d" placeholder="Option D" required>
        <br><br>

        <input type="text" name="correct" placeholder="Correct Answer (a/b/c/d)" required>

        <br><br>

        <button type="submit">Add Question</button>

    </form>

</div>

</body>
</html>