<!DOCTYPE html>
<html>
<head>
    <title>Attempt Quiz - StudyHub</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="nav">
    <div><strong>StudyHub 📚</strong></div>
</div>

<div class="container">

    <h1>🧠 Attempt Quiz</h1>

    <form method="POST" action="/submit_quiz/{{ quiz_id }}">

        {% for q in questions %}

        <div class="card">

            <h3>{{ q.question }}</h3>

            <label>
                <input type="radio" name="{{ q.id }}" value="a"> {{ q.option_a }}
            </label><br>

            <label>
                <input type="radio" name="{{ q.id }}" value="b"> {{ q.option_b }}
            </label><br>

            <label>
                <input type="radio" name="{{ q.id }}" value="c"> {{ q.option_c }}
            </label><br>

            <label>
                <input type="radio" name="{{ q.id }}" value="d"> {{ q.option_d }}
            </label>

        </div>

        {% endfor %}

        <button type="submit">Submit Quiz</button>

    </form>

</div>

</body>
</html>